// VAR COLORS
// Primary

$strong-cyan: hsl(172, 67%, 45%);

// Neutral

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

@mixin large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  padding: 0;
}

.App {

  h1 {
    padding: 2rem 8.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $very-dark-cyan;
    background-color: $light-grayish-cyan;
    word-break: break-all;
    letter-spacing: 8px;
  }

  .main-container {
    border-radius: 24px;
    background: $white;
    padding: 2rem 1.5rem;
    text-align: left;

    .bill-value,
    .section-title {
      color: $dark-grayish-cyan;
    }

    .input-area {
      .total-screen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        & > span {
          position: absolute;
          color: $light-grayish-cyan;
          font-size: 18px;
          left: 4%;
          top: 27%;
        }

        .bill-value {
          color: $very-dark-cyan;
          width: 100%;
          background-color: $very-light-grayish-cyan;
          padding: 0.51rem 0.6rem;
          margin-top: .5rem;
          border-radius: 10px;
          text-align: right;
          border-color: transparent;
          font-family: 'Space Mono', sans-serif;
          font-size: 18px;

          &::placeholder {
            color: $light-grayish-cyan;
          }
        }
      }
    }

    @include large {
      display: flex;
      width: 100%;
      gap: 2rem;

      & > div {
        width: 50%;
      }
    }
  }

  @include large {
    max-width: 50rem;
    margin: 0 auto;
  } 

}